@import "tailwindcss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

body {
  background-color: #0f0f0f;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.treebar {
  /* flex: 0.4; */
  border-right: #3d3d3d 1px solid;
}

.middle {
  flex: 1;
  font-family: "Palatino Roman";
}

.sidebar {
  /* flex: 0.3; */
  border-left: #3d3d3d 1px solid;
}
